<a href="https://colab.research.google.com/github/ryanma5/PL-Project/blob/main/Best_run_PL_clubs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Import Libraries and mount drive
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# Import csv files
pl_points = pd.read_csv('/content/drive/My Drive/Colab Notebooks/PL_5years_points.csv') #Your file name and location saved
pl_netspend = pd.read_csv('/content/drive/My Drive/Colab Notebooks/PL_5years_netspend.csv') #Your file name and location saved

In [ ]:
# Standardizing club names
pl_netspend['Club'] = pl_netspend['Club'].str.replace(' FC', '')
pl_netspend['Club'] = pl_netspend['Club'].str.replace('United', 'Utd')
pl_netspend['Club'] = pl_netspend['Club'].str.replace('AFC ', '')

#Mapping Dictionary for special cases
club_names_mapping = {
    'Brighton & Hove Albion': 'Brighton',
    'Tottenham Hotspur': 'Tottenham',
    'West Ham Utd': 'West Ham',
    'Nottingham Forest': "Nott'ham Forest",
    'Wolverhampton Wanderers': 'Wolves',
}

# Applying Mapping Dictionary to df
pl_netspend['Club'] = pl_netspend['Club'].replace(club_names_mapping)

# Standardizing column header
pl_points = pl_points.rename(columns={'Team': 'Club'})

In [ ]:
# Join the two DFs
pl_stat = pd.merge(pl_points, pl_netspend, on = 'Club')
pl_stat = pl_stat.sort_values(by = 'Total Points', ascending = False)
print(pl_stat)

               Club  Total Points  Net Spend
0   Manchester City           390    -169.43
1         Liverpool           355    -299.35
2           Arsenal           342    -556.46
3    Manchester Utd           289    -650.44
4           Chelsea           283    -940.76
5         Tottenham           283    -544.58
6       Aston Villa           258    -257.67
7     Newcastle Utd           257    -434.91
8          West Ham           236    -328.35
9          Brighton           229     -59.41
10   Crystal Palace           206    -173.96
11           Wolves           199     -17.53
12          Everton           193      32.84
13        Brentford           168    -113.65
14   Leicester City           166     -26.98
15           Fulham           156    -146.47
16      Bournemouth           117    -142.17
17      Southampton           114     -71.53
18  Nott'ham Forest           107    -262.54
19     Ipswich Town            15    -132.77

In [ ]:
# Change presentation of Net spend column
pl_stat['Net Spend'] = pl_stat['Net Spend']* -1

# Calculate Points / million pound net spend
pl_stat['Points/million'] = (pl_stat['Total Points'] / pl_stat['Net Spend'])
print(pl_stat)

               Club  Total Points  Net Spend  Points/million
0   Manchester City           390     169.43        2.301836
1         Liverpool           355     299.35        1.185903
2           Arsenal           342     556.46        0.614599
3    Manchester Utd           289     650.44        0.444315
4           Chelsea           283     940.76        0.300821
5         Tottenham           283     544.58        0.519667
6       Aston Villa           258     257.67        1.001281
7     Newcastle Utd           257     434.91        0.590927
8          West Ham           236     328.35        0.718745
9          Brighton           229      59.41        3.854570
10   Crystal Palace           206     173.96        1.184180
11           Wolves           199      17.53       11.351968
12          Everton           193     -32.84       -5.876979
13        Brentford           168     113.65        1.478223
14   Leicester City           166      26.98        6.152706
15           Fulham           156     146.47        1.065065
16      Bournemouth           117     142.17        0.822958
17      Southampton           114      71.53        1.593737
18  Nott'ham Forest           107     262.54        0.407557
19     Ipswich Town            15     132.77        0.112977

In [ ]:
# Export and save cleaned dataframe as csv
pl_stat.to_csv('/content/drive/My Drive/Colab Notebooks/PL_5years_stat.csv', index = False)